nav {
  color: #455;
  background-color: #789;
  border-color: #667;
}
.nav ul {
  border-color: #99a;
}
.nav a:link,.nav a:visited {
  color: #eef;
  background-color: transparent;
  border-color: #99a;
}
.nav a:hover {
  color: #445;
  background-color: #eb6;
}
.nav a:active {
  color: #667;
  background-color: #ec8;
}
.nav a:is-active {
    color: #eef;
  background-color: #799 !important;
}
/* .nav a.here:link,
.nav a.here:visited,
.nav a.here:hover,
.nav a.here:active {
  color: #eef;
  background-color: #799;
} */

.nav a {
  font-family: "Lucida Grande","Helvetica","Arial",sans-serif;
}
.nav a a {
  text-decoration: none;
  font-weight: bold;
}

.nav ul {
  width: 100%;
  overflow: hidden;
  border-left-width: .1em;
  border-left-style: solid;
}
.nav li {
  display: inline;
}
.nav li a {
  display: block;
  float: left;
  padding: .5em 2em;
  border-right: .1em solid;
}

.nav {
  /* background-image: url(../images/navbar.gif); */
  background-position: bottom left;
  background-repeat: repeat-x;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
  border-top-width: 0;
  padding-left: 10%;
}
.nav ul {
  border-color: #99a;
}
.nav a:link,.nav a:visited {
  color: #eef;
  background-color: transparent;
  border-color: #99a;
}
.nav a:hover {
  color: #445;
  background-color: #eb6;
}
.nav a:active {
  color: #667;
  background-color: #ec8;
}
.nav a.here:link,
.nav a.here:visited,
.nav a.here:hover,
.nav a.here:active {
  color: #eef;
  background-color: #799;
}

.nav {
  color: #455;
  background-color: #789;
  border-color: #667;
}